.App {
}
select {
  height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  min-width: 150px;
}
button.primary {
  background: #16a1cf;
  color: white;
}
button {
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  height: 35px;
  padding: 0 20px;
  margin-right: 5px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  text-align: left;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
